<div id="pins" class="transitions-enabled">
  <% @gamingpins.each do |gamepin| %>
    <div class="box">
      <%= image_tag gamepin.image.url(:medium) %>
      <div class="panel-body">
        <%= gamepin.description %>
          <%= link_to 'Show', gamingpin_path(gamepin) %>
            <%= link_to 'Edit', edit_gamingpin_path(gamepin) %>
            <%= link_to 'Destroy', gamepin, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>
     <% end %>
</div>

<%= link_to "New Ad", new_gamingpin_path %>  
