<%= image_tag @sportpin.image.url(:medium) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sportpin.description %>
</p>
<%= link_to 'Edit', edit_sportpin_path(@gamingpin) %> |
<%= link_to 'Back', sportpins_path %>